# IntelliJ
**/out
**/*.iml
**/.idea
**/target/**/*

# js
js/node_modules

# C#
**/obj
**/bin
**/.vs
**/*.suo

# python
**/*.pyc

#ruby
**/coverage/*
**/Gemfile.lock

**/*.stackdump
**/*.o

**/*.exe

# use glob syntax.
syntax: glob
*.ser
*.class
*~
*.bak
#*.off
*.old

# eclipse conf file
.settings
.classpath
.project
.manager
.scala_dependencies

# idea
.idea
*.iml

# building
target
build
null
tmp*
temp*
dist
test-output
build.log

# haskell
.cabal-sandbox

# other scm
.svn
.CVS
.hg*

# switch to regexp syntax.
#  syntax: regexp
#  ^\.pc/

# SHITTY output not in target directory
build.log
